* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-size: 1.6em;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.container-items {
    padding: 2rem;
    width: 50%;
}

#product{
    max-width: 16rem;
}
#product,
#product-pics {
    margin: 0;
    border: none;
    padding: 0.5rem;
}

/* Firefox */
#product-pics::-moz-focus-inner,
#product-pics::-moz-focus-outer{
    -moz-appearance: textfield;
}
/* Chrome */
#product-pics::-webkit-outer-spin-button,
#product-pics::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#product:focus,
#product-pics:focus {
    outline-color: #77d;
}

#product-pics {
    width: 4rem;
}

/* BUTTONS */
    .btn{
        width: 6rem;
        height: 3rem;
        transition: all 0.5s;
        cursor: pointer;
    }

    .clear-all{
        color: #fff;
        background-color: #dc3545;
        border: 1px solid #dc3545;
        border-radius: 1.5rem 0 0 1.5rem;
    }
    .clear-all:hover{
        background-color: #bb2d3b;
        border: 1px solid #b02a37;
    }
    .clear-all:active{
        background-color: #b02a37;
        border: 1px solid #a52834;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .confrim-product, .confrim-all-elements{
        color: #fff;
        background-color: #198754;
        border: 1px solid #198754;
        border-radius: 0 1.5rem 1.5rem 0;
    }
    .confrim-product:hover, .confrim-all-elements:hover{
        background-color: #157347;
        border-color: #146c43;
    }
    .confrim-product:active, .confrim-all-elements:active{
        background-color: #146c43;
        border-color: #13653f;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    .back{
        color: #0d6efd;
        border: 1px solid #0d6efd;
        border-radius: 1rem;
    }
    .back:hover{
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0b5ed7;
    }
    .back:active{
        color: #fff;
        background-color: #0a58ca;
        border-color: #0b5ed7;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    .get-print-page{
        color: #ffc107;
        border: 1px solid #ffc107;
        border-radius: 1rem;
    }
    .get-print-page:hover{
        color: #000;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .get-print-page:active{
        color: #000;
        background-color: #ffc107;
        border-color: #ffc107;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    .confrim-all-elements{
        border-radius: 1rem;
    }
    .delete{
        color: #dc3545;
        border: 1px solid #dc3545;
        height: 2rem;
        font-size: 1.5rem;
        margin-left: 1.5rem;
        padding: 0 1rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s;
    }
    .delete:hover{
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .delete:active{
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;

    }

    .back {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .get-print-page {
        margin-top: 2rem;
    }

    .confrim-all-elements {
        margin-top: 1rem;
    }
/* BUTTONS */
.container-items__item,
.name-pics {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-items__item>.name-pics {
    width: 100%;
    padding: 0.5rem;
}

.container-items__item:nth-child(odd){
    background-color: #eee;
}

.errors-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error {
    position: absolute;
    top: 0;
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: #d54;
    opacity: 1;
    color: #fda;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.hide {
    display: none;
}


@media screen and (max-width: 600px) {
    html{
       font-size: 15px; 
    }
    .container-items{
        width: 100%;
    }
}