* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

#product,
#product-pics {

    border: none;
    padding: 0.5rem;
}

#product:focus,
#product-pics:focus {
    outline-color: #77d;
}

#product-pics {
    width: 5rem;
}

.delete {
    border: 1px solid red;
    padding: 0 0.3rem;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    opacity: 0.5;
    transition: opacity 0.1s;
}

.delete:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

.back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
}

.get-print-page {
    display: none;
    margin-top: 2rem;
}

.confrim-all-elements {
    margin-top: 1rem;
}

#confrim-product,
#reset,
.back,
.confrim-all-elements,
.get-print-page {
    width: 7rem;
    padding: 5px;
    border: 1px solid #a9a9a9;
    background-color: #a9a9a9;
    transition: all 0.3s;
}

#confrim-product:hover,
#reset:hover,
.back:hover,
.confrim-all-elements:hover,
.get-print-page:hover {

    border: 1px solid #66d;
    ;
    transition: all 0.3s;
}

#confrim-product:active,
#reset:active,
.back:hover,
.confrim-all-elements:hover,
.ge-print-page:active {

    border-color: #77d;
    background-color: #aaa;
    color: #77d;
    transition: all 0.1s;
}



.container-items__item,
.name-pics {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.container-items__item>.name-pics {
    width: 80%;
}

.container-items__item {
    border-bottom: 2px solid black;
}

.errors-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error {
    position: absolute;
    top: 0;
    width: 24rem;
    height: 3.5rem;
    background-color: #d54;
    opacity: 1;
    color: #fda;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 5rem;
    }

    .container-items {
        padding-top: 2rem;
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .container {
        width: 80%;
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .container-items {
        padding: 2rem;
        width: 50%;
    }
}